body {
    margin: 0%;
    background: linear-gradient(to right, rgb(215, 61, 254), rgb(47, 35, 126));
}

footer {
    margin-top: 118px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}